<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>martinbrochhaus.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="http://martinbrochhaus.com/theme/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="http://martinbrochhaus.com/theme/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
    <link href="http://martinbrochhaus.com/theme/css/github.css" rel="stylesheet" media="screen">
    <link href="http://martinbrochhaus.com/theme/css/github-numbers.css" rel="stylesheet" media="screen">
    <link href="http://martinbrochhaus.com/theme/css/styles.css" rel="stylesheet" media="screen">

    <link href='http://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css' >
    <link href='http://fonts.googleapis.com/css?family=Cantora+One' rel='stylesheet' type='text/css'>

        <link href="http://martinbrochhaus.com/feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="martinbrochhaus.com Atom Feed" />
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1147761-33']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
</head>
<body>
    <div class="miniBio">
        <div class="container">
            <a class="brand" href="/" title="martinbrochhaus.com"><img src="http://martinbrochhaus.com/theme/img/avatar.jpg" /></a>
            <span class="miniBioText">I build software with Python, Django, ReactJS & React-Native. Every day. All day long.</span>
        </div>
    </div>

    <div class="container">
<div class="container">
    <div class="row">
        <div class="span12 articleDetailHeadline">
            <h1>Django Template Fragment Caching</h1>
            <h2>Speed up your site with Memcached and Template Fragment Caching</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row articleDetail">
        <div class="span3 articleInfo light">
<p><i class="icon-calendar"></i>&nbsp;Sun 20 April 2014</p>
    <p class="articleTags">
        <i class="icon-tag"></i>&nbsp;tags:
            <a href="http://martinbrochhaus.com/tag/python.html">python</a>
            <a href="http://martinbrochhaus.com/tag/django.html">django</a>
    </p>
        </div>
        <div class="span6 articleDetailContent">
            <p>Granted, when you look at the frontpage of <a href="https://publishizer.com">publishizer.com</a>
you will say that it doesn't show much content, but even this simple site 
loads about 20 different partial templates and performs more than a hundred
database queries.</p>
<p>And what for? It rarely ever changes much. If we would get thousands of users,
we would waste tens of thousands of CPU cycles and IO operations on our
webserver, which would ultimately cost us a lot of money. In order to prevent
this, I recently had a closer look at Django's powerful caching framework.</p>
<h2>1. Install Memcached</h2>
<p>Luckily, on our Webfaction servers, Memcached is already installed. I can't
remember how I installed it on OSX, but I guess I just ran
<code>brew install memcached</code></p>
<h2>2. Start &amp; Stop Memcached</h2>
<p>In order to start Memcached, just run:</p>
<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1</pre></div></td><td class="code"><div class="highlight"><pre>memcached -d -m 50 -s <span class="nv">$HOME</span>/memcached.sock -P <span class="nv">$HOME</span>/memcached.pid
</pre></div>
</td></tr></table>

<p>This will start it in daemon mode and reserve 50MB of space for your cache.</p>
<p>In order to stop Memcached, just run:</p>
<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1</pre></div></td><td class="code"><div class="highlight"><pre><span class="nb">kill</span> <span class="k">$(</span>cat <span class="nv">$HOME</span>/memcached.pid<span class="k">)</span>
</pre></div>
</td></tr></table>

<p>I created <a href="http://www.fabfile.org/">Fabric</a> tasks for this so that I can
restart memcached locally or on our servers easily and added this as one step
at the end of our deployment script.</p>
<h2>3. Add cache settings to your Django settings</h2>
<p>Now we setup the whole caching magic. I put this into my <code>local_settings.py</code>
because every developer might want to play around with this and most of the
time you would deactivate caching during local development but of course you
want to activate it on the production server.</p>
<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34</pre></div></td><td class="code"><div class="highlight"><pre><span class="c"># [... rest of your local_settings.py]</span>

<span class="n">CACHE</span> <span class="o">=</span> <span class="bp">True</span>

<span class="c"># Start memcached via:</span>
<span class="c"># memcached -d -m 50 -s $HOME/memcached.sock -P $HOME/memcached.pid</span>
<span class="c"># Stop it via:</span>
<span class="c"># kill $(cat $HOME/memcached.pid)</span>
<span class="k">if</span> <span class="n">CACHE</span><span class="p">:</span>
    <span class="n">CACHES</span> <span class="o">=</span> <span class="p">{</span>
        <span class="s">&#39;default&#39;</span><span class="p">:</span> <span class="p">{</span>
            <span class="s">&#39;BACKEND&#39;</span><span class="p">:</span> <span class="s">&#39;django.core.cache.backends.memcached.MemcachedCache&#39;</span><span class="p">,</span>
            <span class="s">&#39;LOCATION&#39;</span><span class="p">:</span> <span class="s">&#39;unix:/Users/username/memcached.sock&#39;</span><span class="p">,</span>
        <span class="p">},</span>
    <span class="p">}</span>
    <span class="n">TEMPLATE_LOADERS</span> <span class="o">=</span> <span class="p">(</span>
        <span class="p">(</span><span class="s">&#39;django.template.loaders.cached.Loader&#39;</span><span class="p">,</span> <span class="p">(</span>
            <span class="s">&#39;django.template.loaders.filesystem.Loader&#39;</span><span class="p">,</span>
            <span class="s">&#39;django.template.loaders.app_directories.Loader&#39;</span><span class="p">,</span>
        <span class="p">)),</span>
    <span class="p">)</span>
    <span class="n">SESSION_ENGINE</span> <span class="o">=</span> <span class="s">&#39;django.contrib.sessions.backends.cached_db&#39;</span>
    <span class="n">CACHE_MIDDLEWARE_KEY_PREFIX</span> <span class="o">=</span> <span class="s">&#39;yourproject_&#39;</span>
<span class="k">else</span><span class="p">:</span>
    <span class="n">CACHES</span> <span class="o">=</span> <span class="p">{</span>
        <span class="s">&#39;default&#39;</span><span class="p">:</span> <span class="p">{</span>
            <span class="s">&#39;BACKEND&#39;</span><span class="p">:</span> <span class="s">&#39;django.core.cache.backends.dummy.DummyCache&#39;</span><span class="p">,</span>
        <span class="p">}</span>
    <span class="p">}</span>
    <span class="n">TEMPLATE_LOADERS</span> <span class="o">=</span> <span class="p">(</span>
        <span class="s">&#39;django.template.loaders.filesystem.Loader&#39;</span><span class="p">,</span>
        <span class="s">&#39;django.template.loaders.app_directories.Loader&#39;</span><span class="p">,</span>
        <span class="s">&#39;django.template.loaders.eggs.Loader&#39;</span><span class="p">,</span>
    <span class="p">)</span>
</pre></div>
</td></tr></table>

<p>First of all, make sure to change the <code>LOCATION</code> setting and set <code>username</code> to
your username. If you don't want to save the socket in your home folder, you
might also want to change the path.</p>
<p>Secondly change the <code>CACHE_MIDDLEWARE_KEY_PREFIX</code> to your projectname.</p>
<p>Note that we are also using cached template loaders here. If you follow the 
DRY principle, you will quickly have dozens or even hundreds of small partial
templates. This will create quite some load on your CPU/disk because for each
request Django tries to find the template file for each partial template on the
hard disk. Usually your template locations will never change, so this is a safe
thing to put into a cache. </p>
<p>With these settings, you can just set <code>CACHE = False</code> when you do local
development. If you don't set this to <code>False</code>, you will have to restart
memcached every time you change something in your templates.</p>
<h2>4. Create some cache utils</h2>
<p>If you are on Django 1.4, you will need a little helper class. Put this into 
a file <code>cache_utils.py</code>:</p>
<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2
3
4
5
6
7
8</pre></div></td><td class="code"><div class="highlight"><pre><span class="kn">from</span> <span class="nn">django.core.cache</span> <span class="kn">import</span> <span class="n">cache</span>
<span class="kn">from</span> <span class="nn">django.utils.hashcompat</span> <span class="kn">import</span> <span class="n">md5_constructor</span>
<span class="kn">from</span> <span class="nn">django.utils.http</span> <span class="kn">import</span> <span class="n">urlquote</span>

<span class="k">def</span> <span class="nf">invalidate_template_fragment</span><span class="p">(</span><span class="n">fragment_name</span><span class="p">,</span> <span class="o">*</span><span class="n">variables</span><span class="p">):</span>
    <span class="n">args</span> <span class="o">=</span> <span class="n">md5_constructor</span><span class="p">(</span><span class="s">u&#39;:&#39;</span><span class="o">.</span><span class="n">join</span><span class="p">([</span><span class="n">urlquote</span><span class="p">(</span><span class="n">var</span><span class="p">)</span> <span class="k">for</span> <span class="n">var</span> <span class="ow">in</span> <span class="n">variables</span><span class="p">]))</span>
    <span class="n">cache_key</span> <span class="o">=</span> <span class="s">&#39;template.cache.</span><span class="si">%s</span><span class="s">.</span><span class="si">%s</span><span class="s">&#39;</span> <span class="o">%</span> <span class="p">(</span><span class="n">fragment_name</span><span class="p">,</span> <span class="n">args</span><span class="o">.</span><span class="n">hexdigest</span><span class="p">())</span>
    <span class="n">cache</span><span class="o">.</span><span class="n">delete</span><span class="p">(</span><span class="n">cache_key</span><span class="p">)</span>
</pre></div>
</td></tr></table>

<p>For Django 1.5 you can reuse the method for creating the fragment key:</p>
<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2
3
4
5
6
7</pre></div></td><td class="code"><div class="highlight"><pre><span class="kn">from</span> <span class="nn">django.core.cache</span> <span class="kn">import</span> <span class="n">cache</span>
<span class="kn">from</span> <span class="nn">django.core.cache.utils</span> <span class="kn">import</span> <span class="n">make_template_fragment_key</span>

<span class="k">def</span> <span class="nf">invalidate_template_fragment</span><span class="p">(</span><span class="n">fragment_name</span><span class="p">,</span> <span class="o">*</span><span class="n">variables</span><span class="p">):</span>
    <span class="n">cache_key</span> <span class="o">=</span> <span class="n">make_template_fragment_key</span><span class="p">(</span>
        <span class="n">fragment_name</span><span class="p">,</span> <span class="n">vary_on</span><span class="o">=</span><span class="n">variables</span><span class="p">)</span> 
    <span class="n">cache</span><span class="o">.</span><span class="n">delete</span><span class="p">(</span><span class="n">cache_key</span><span class="p">)</span>
</pre></div>
</td></tr></table>

<h2>5. Use django-debug-toolbar-template-timings</h2>
<p>Any serious Django developer should use the <a href="https://github.com/django-debug-toolbar/django-debug-toolbar">django-debug-toolbar</a>.
If you have that installed, make sure that you also use the plugin
<a href="https://github.com/orf/django-debug-toolbar-template-timings">django-debug-toolbar-template-timings</a>.</p>
<p>This will show you the CPU time needed for each of your partial templates and
makes it super easy to identify the parts in your template that take the most
time to render.</p>
<h2>6. Use template fragment caching</h2>
<p>Some parts of your templates are not good candidates for caching, because they
change often, for example the header of your site might contain the name of
the logged in user and the main menu might be different for different kinds
of users. While technically possible, I think this is not a good idea to cache.
If you have millions of users it would mean that you need to add millions of
template fragments into the cache, one for each user. I guess that would eat up
all your RAM in no time.</p>
<p>If you have parts that don't change often and are the same for every user,
those are great candidates for caching.</p>
<p>It looks like this:</p>
<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2
3
4</pre></div></td><td class="code"><div class="highlight"><pre>{% load cache %}
{% cache 300 ebook_home_html %}
    {% include &quot;ebook/partials/ebook_home.html&quot; %}
{% endcache %}
</pre></div>
</td></tr></table>

<p>This is the part on publishizer.com that renders the grid of ebook campaigns.
It looks the same for every user and it rarely changes (only when someone
preorders a book or when a campaign ends).</p>
<p>I set the cache time to 5 minutes and gave it the cache key <code>ebook_home_html</code>.</p>
<p>This improved the load time of our frontpage from 1800ms to 120ms.</p>
<h2>7. Manually invalidate caches</h2>
<p>Five minutes is cool but what if a campaign ends or a user makes a preorder?
It would be cool to always show up to date data on the frontpage. For this
reason we created the <code>cache_utils.py</code> module as desribed above. It allows us
to invalidate the cache whenever we definitely know that something has changed.</p>
<p>It's usage could simply look like this:</p>
<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2
3
4</pre></div></td><td class="code"><div class="highlight"><pre><span class="k">def</span> <span class="nf">payment_completed_handler</span><span class="p">(</span><span class="n">sender</span><span class="p">,</span> <span class="n">transaction</span><span class="p">,</span> <span class="o">**</span><span class="n">kwargs</span><span class="p">):</span>
    <span class="sd">&quot;&quot;&quot;Sends the thank-you email when a payment is completed.&quot;&quot;&quot;</span>
    <span class="n">invalidate_template_fragment</span><span class="p">(</span><span class="s">&#39;ebook_home_html&#39;</span><span class="p">)</span>
    <span class="c"># ... rest of the function</span>
</pre></div>
</td></tr></table>

<p>So whenever someone makes a payment, we invalidate the cache.</p>
<p>That's it. Hopefully at some happy point in the future, this approach will no
longer be good enough, because we might have thousands of campaigns at the same
time and dozens of preorders per second. This would mean that the cache would
constantly be invalidated and therefore become pointless. However, this could
easily be solved. Instead of caching the whole frontpage, I could go one level
deeper and cache the individual rendered campaign cards. We would never show
more than a few dozen of those cards on the frontpage anyways, so having those
in the cache would be feasible.</p>
<p>Dozens of preorders per second. Ah well... one can only dream...</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row comments">
        <div class="span3">&nbsp;</div>
        <div class="span6">
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'martinbrochhauscom'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
    </div>
</div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <p><strong>Martin Brochhaus</strong> is the founder of <a href="http://bitmazk.com">Bitmazk Pte. Ltd.</a>. He is doing web development since 1998 and currently he is in love with Python & Django. Almost all of his work can be found on <a href="https://github.com/bitmazk">Github</a>. When he is not writing code, he gives <a href="https://speakerdeck.com/mbrochh">talks</a> or helps organizing <a href="https://pycon.sg">conferences</a>.</p>
                </div>
                <div class="span4">
                        <p><strong>Say hi!</strong></p>
                        <ul class="socialLinks">
                                <li><a href="https://github.com/mbrochh"><span class="symbol">&#xe037;</span> Github</a></li>
                                <li><a href="https://twitter.com/mbrochh"><span class="symbol">&#xe086;</span> Twitter</a></li>
                                <li><a href="https://secure.flickr.com/photos/mbrochh/"><span class="symbol">&#xe029;</span> Flickr</a></li>
                        </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://martinbrochhaus.com/theme/js/bootstrap.min.js"></script>
</body>
</html>